@import url('https://fonts.googleapis.com/css2?family=Jacquard+24+Charted&display=swap');

body{
    margin: 0;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    background-color: chocolate;
}

header{
    display: flex;
    height: 3rem;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px #c79d12;
    position: sticky;
    top: 0;
    background: chocolate;
}

header a {
    margin: 0 1rem;
    color: #fff;
    text-decoration: none;
}

.photo p{
    text-align: center;
}

#add_photo {
    position: fixed;
    z-index: 2;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #fff;
    display: none;
}

#add_photo.open {
    display: flex;
}

#add_photo div {
    width: 80%;
    border: 2px solid #fff;
    background: red;
    border: 5px;
    padding: 1rem;
}

#add_photo input{
    padding: .5rem;
    font-family: 'Montserrat', sans-serif;
    display: block;
    margin-bottom: 1rem;
    width: 100%;
    box-sizing: border-box;
}

#add_photo button {
    font-family: 'Montserrat', sans-serif;
    padding: .5rem;
}

h1 {
    margin: 1rem;
}

.mobile_icon{
    display: none;
}

#grid{
    display:  grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1rem;
}

.photo img{
    max-width: 100%;
    max-height: 100%;
}

.photo p{
    text-align: center;
}

#new_photo_src input.error {
    border-color: red;
}

#new_photo_src button{
    font-family:'Montserrat', sans-serif;
    padding: .5rem;
}